@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/* reset */

*, *::before, *::after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}


/* variables */

:root {
    --color-primary: #333;
    --color-secondary: #666;
    --color-bg: #ddd;
    --color-accent: #b429ff;
    --color-error-primary: #740000;
    --color-error-secondary: #ffc4c4;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-title: 2rem;
    --fs-heading: 1.5rem;
    --fs-subheading: 1.3rem;
    --fs-link: 1.2rem;
}

/* utility classes */

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.error-message {
    padding: 8px;
    border: 2px solid var(--color-error-primary);
    color: var(--color-error-primary);
    background: var(--color-error-secondary);
    border-radius: 4px;
    text-align: center;
    margin-block: 1rem;
}

.button {
    display: block;
    font-size: inherit;
    padding: 0.5rem 1.5rem;
    background: var(--color-accent);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: var(--fw-semi-bold);
    cursor: pointer;
    transition: 0.2s;
}

.button:is(:hover, :focus-visible) {
    opacity: 0.6;
    transition: 0.2s;
}

.button-box {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.button-red {
    background: #ff7171;
}

.button-gray {
    background: #777;
}

/* general styles */

body {
    background: var(--color-bg);
}

p {
    color: var(--color-secondary);
    font-weight: var(--fw-regular);
    line-height: 1.5rem;
}

a {
    font-size: var(--fs-link);
    font-weight: var(--fw-semi-bold);
    color: var(--color-secondary);
    text-decoration: none;
}

h1 {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
}

h2, h3, h4 {
    color: var(--color-accent);
    font-weight: var(--fw-semi-bold);
}

h3 {
    font-size: var(--fs-subheading);
}

img, svg {
    max-width: 100%;
    display: block;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    padding: 1rem;
}

.inner-modal {
    background: white;
    width: 100%;
    max-width: 450px;
    height: max-content;
    padding: 2rem;
    border-radius: 10px;
    position: absolute;
    inset: 0;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.inner-modal h2 {
    color: var(--color-secondary);
}

/* header styles */

.header {
    background: white;
    box-shadow: 0 4px 10px 3px rgba(0,0,0,0.1);
    margin-bottom: 3rem;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-block: 1.5rem;
    gap: 2rem;
}

.nav-child {
    padding-block: 0;
}

.app-name {
    margin-right: auto;
}

.header__nav a {
    transition: 0.2s;
}

.header__nav a:hover {
    color: var(--color-accent);
    transition: 0.2s;
}

.hamburger {
    width: 30px;
    cursor: pointer;
    display: none;
}

.hamburger span {
    width: 100%;
    display: block;
}

.hamburger span:nth-child(odd) {
    height: 6px;
    background: var(--color-secondary);
}

.hamburger span:nth-child(even) {
    height: 4px;
    background: white;
}

.close {
    display: none;
}

.cover {
    display: none;
    position: fixed;
    z-index: 50;
    inset: 0;
    background: linear-gradient(to bottom, var(--color-bg) 10%, #dddddd80);
}

@media (max-width: 670px) {
    .hamburger {
        display: block;
    }

    .nav-child {
        position: fixed;
        z-index: 55;
        inset: 3rem 1rem auto;
        background: var(--color-primary);
        padding: 2rem;
        flex-direction: column;
        border-radius: 10px;

        transform: translateY(-50vh);
        transition: transform 0.5s;
    }

    .show {
        transform: translateY(0);
        transition: transform 0.5s;
    }

    .header__nav a {
        color: white;
    }

    .close {
        display: block;
        color:white;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    .cover.show {
        display: block;
    }
}

/* Blog card styles */

.card {
    display: block;
    width: 70%;
    margin-inline: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.1);
    margin-bottom: 5rem;
    position: relative;
}

.card img {
    border-radius: 8px 8px 0 0;
}

.card article {
    padding: 1.5rem;
}

.card p {
    margin-block: 1.5rem;
}

.likes {

    --length: 50px;

    width: var(--length);
    height: var(--length);
    line-height: var(--length);
    text-align: center;
    background: var(--color-accent);
    color: white;
    font-weight: var(--fw-bold);
    border-radius: 4px;
    position: absolute;
    bottom: -1rem;
    right: -1rem;
}

/* blog details page */

.BlogDetails {
    margin-bottom: 3rem;
}

.BlogDetails h2 {
    margin: 3rem auto 1rem;
    font-size: var(--fs-title);
}

.author {
    margin-block: 2rem;
}


.like-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: end;
    margin: 3rem 2rem 3rem auto;
}

.like-container p {
    font-weight: var(--fw-semi-bold);
}


.edit-link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: 0.2s;
}

.edit-link > svg {
    fill: var(--color-secondary);
    transition: 0.2s;
}

.edit-link:hover {
    color: var(--color-accent);
    transition: 0.2s;
}

.edit-link:hover > svg {
    fill: var(--color-accent);
    transition: 0.2s;
}

.BlogDetails .inner-modal h2 {
    font-size: var(--fs-heading);
}

/* Blog form styles */

.create-blog {
    background-color: white;
    width: 90%;
    margin-inline: auto;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 3rem;
}

.create-blog h2 {
    margin-bottom: 1.5rem;
}

.blog-form :is(input, textarea, label) {
    display: block;
    width: 100%;
    padding: 10px 15px;
    
}


.blog-form :is(input, textarea){
    border: 1px solid var(--color-bg);
    border-radius: 5px;
    font-size:  inherit;
    margin-bottom: 1.5rem;
}

.blog-form :is(input, textarea).error {
    border-color: var(--color-error-secondary);
}

.blog-form :is(input, textarea):focus {
    outline: none;
    border-color: var(--color-accent);
}


.blog-form textarea {
    min-height: 300px;
}

.blog-form label {
    color: var(--color-secondary);
    font-weight: var(--fw-semi-bold);
}


/* Login form styles */

.login-form {
    background: white;
    width: 100%;
    max-width: 450px;
    margin-inline: auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.1);
}

.login-form :is(input, label, select) {
    display: block;
    font-size: var(--fs-subheading);
    width: 100%;
}

.login-form input, .login-form select {
    margin-bottom: 1.5rem;
    padding: 8px 15px;
    border: 3px solid var(--color-bg);
    border-radius: 5px;
}

.login-form input.error {
    border-color: #fd7c7c;
}

.login-form input:focus {
    outline: none;
    border-color: var(--color-accent);
}

.login-form label {
    color: var(--color-secondary);
    font-weight: var(--fw-semi-bold);
    margin-bottom: 0.5rem;
}

.login-form__link {
    font-weight: var(--fw-regular);
    font-size: 16px;
    text-decoration: underline;
    display: block;
    text-align: end;
    margin: 0 1rem 1rem auto;
}

.login-form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: var(--fs-title);
}


/* User page styles */

.user-page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5rem;
}

.left {
    background: var(--color-accent);
    padding: 1.5rem;
}

@media (max-width: 600px) {

    .user-page {
        display: block;
    }

    .left{
        left: 0;
    }


}

.right {
    background: white;
    padding: 1.5rem;
}

@media (max-width: 945px) {
    .user-page {
        grid-template-columns: 1fr 2fr;
    }
}

.user-page h2 {
    margin-bottom: 2rem;
}

.user-page a {
    display: block;
    padding-block: 5px;
    margin-bottom: 0.5rem;
    color: white;
    border-bottom: 3px solid var(--color-accent);
}

.user-page a.active {
    border-color: white;
}

.user-info {
    margin-block: 1.5rem;
}

.edit-profile {
    margin-top: 3rem;
    max-height: 0;
    overflow: hidden;

    transition: max-height 1s;
}

.edit-profile.show {
    max-height: 100vh;
    overflow: hidden;

    transition: max-height 1s;
}


.edit-form {
    width: 60%;
    margin-block: 1rem;
}

.edit-form :is(input, label, select) {
    display: block;
    width: 100%;
    font-size: inherit;
}

.edit-form :is(input, select) {
    padding: 7px 10px;
    border: 2px solid var(--color-bg);
    border-radius: 6px;
    margin-bottom: 1rem;
}

.edit-form label {
    color: var(--color-secondary);
    font-weight: var(--fw-semi-bold);
}

.edit-form input:focus {
    outline: none;
    border-color: var(--color-accent);
}

.edit-form input.error {
    border-color: #ff4848;
}

@media(max-width: 800px) {
    .edit-form {
        width: 100%;
    }
}

/* Blog row styles */

a.blog-row {
    border: none;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 2rem;
    align-items: center;
    background: hsla(279, 100%, 58%, 0.156);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    margin-bottom: 0.5rem;
}

.blog-row__likes {
    justify-self: right;
    margin-right: 1rem;
}

/* User row styles */

.user-row {
    border: none;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 2rem;
    align-items: center;
    background: hsla(279, 100%, 58%, 0.156);
    padding: 0.8rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}

.role {
    margin-inline: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: var(--fw-semi-bold);
    font-size: 14px;
}

.role:nth-child(1) {
    background: rgb(185, 240, 185);
    color: darkgreen;
    border-color: darkgreen;
}

.role:nth-child(2) {
    background: lightgoldenrodyellow;
    color: darkgoldenrod;
    border-color: darkgoldenrod;
}

.role:nth-child(3) {
    background: var(--color-error-secondary);
    color: var(--color-error-primary);
    border-color: var(--color-error-primary);
}

.inner-modal h2 {
    margin: 0;
}


@media (max-width: 900px) {
    a.blog-row, .user-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
}


/* comment-section styles */

.comment-section {
    width: 100%;
    max-width: 750px;
    margin-inline: auto;
}

.comment-section__title {
    margin-block: 5rem 3rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #b429ff5d;
}

.comment-form {
    background: white;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 6px;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);
}

.comment-form.edit-form {
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
}

.comment-form textarea {
    width: 100%;
    min-height: 130px;
    margin-block: 1rem;
    border: 2px solid var(--color-bg);
    border-radius: 7px;
    padding: 1rem;
    font-size: inherit;
}

.comment-form textarea:focus {
    border-color: var(--color-accent);
    outline: 2px solid var(--color-accent);
}

.comment-card {
    background: white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);
}

.comment-header {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

@media (max-width: 600px)  {
    .comment-header {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-start;
    }
}

.comment-header p {
    font-weight: var(--fw-semi-bold);
}

.you {
    padding: 2px 10px;
    background-color: var(--color-accent);
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

.comment-header__button-box {
    margin-left: auto;
    gap: 1rem;
}

@media (max-width: 535px) {
    .comment-header__button-box {
        margin-left: 0;
    }
}

.replyingTo {
    font-weight: var(--fw-semi-bold);
    color: var(--color-accent);
}

.reply-box {
    width: 92%;
    margin-left: auto;
    position: relative;
}

.reply-box::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    background: var(--color-secondary);
    opacity: 0.5;
    left: -4%;
}

.comment-likes {
    margin-block: 1.5rem 0;
    margin-right: 0;
    justify-content: space-between;
}

.comment-likes button {
    padding: 7px 20px;
    border-radius: 100vh;
}

.comment-likes button img {
    zoom: 0.8;
}

.comment-btn {
    font-size: inherit;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    border: none;
    background: none;
    font-weight: var(--fw-bold);
    color: var(--color-secondary);
    cursor: pointer;
}

.comment-btn:hover {
    opacity: 0.5;
}

.edit-btn {
    color: var(--color-secondary);
}

.edit-btn svg {
    fill: var(--color-secondary);
}


.del-btn {
    --color: #ff4848;
    color: var(--color)
}
.del-btn svg {
    fill: var(--color);
    stroke: var(--color);
}


.reply-btn {
    color: var(--color-accent);
}

.reply-btn svg {
    fill: var(--color-accent);
}

.search-form :is(label, input) {
    display: block;
}

.search-form label {
    translate: -100vh;
}

.search-form input {
    padding: 10px 15px;
    font-size: inherit;
    width: 70%;
    margin-inline: auto;
    margin-bottom: 2rem;
    border: none;
    border-radius: 100vh;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.1);
}

.search-form input:focus {
    outline: 3px solid var(--color-accent);
}

@media (max-width: 670px) {
    .search-form input {
        width: 100%;
    }

    .card {
        width: 100%;
    }
}